@import "variables.scss";

.grid{
    @include color_gray;
    min-height: 50VW;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; 
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;

@media screen and (width <=768px) {
    & {
        justify-content: center;
        @include color_withe;
        padding: 0;
    }
}
}