@import "../Sass/variables.scss";

.error_page{
 @include color_main;
 text-align: center;

h1{
    font-size: 10rem;
    margin-bottom: 0.5em;
}
h2{
    font-size: 28px;
    font-weight: 400;
}
a{

    @include color_black;
    
}

}
