@import "../Sass/variables.scss";

.banner{
    width: 100%;
    padding-inline: 2rem;
    min-height: 140px;
    background-image: url('../../public/image1.jpg');
    background-repeat: no-repeat;
    background-size: 100%; /* Spécifiez la largeur en pourcentage ou en pixels selon vos besoins */
    background-position: center;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    @include color_withe;
    padding: 0;
    margin-bottom: 2rem;
}