@import "../Sass/variables.scss";
.footer{
    @include color_footer_balck;
    color: white;
    text-align: center;
    min-height: 200px;
    display: grid;
    place-items: center;
    min-height: 100px;
    line-height: 0;
    padding: 20px 0;
    .footer_text {
        display: flex;
        @media screen and (width <= 768px) {
            display: flex;
            flex-direction: column;
           
      }
    } 
   
  }
